<ng-template #treeNode let-node>
  <span class="node-text" id="n{{node.FolderID}}">{{node.text}}</span>
  <ul>
    <li *ngFor="let child of node.nodes" data-expanded="true">
      <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: child }"></ng-container>
    </li>
  </ul>
</ng-template>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">MSM UK Categories</h4>
            <p class="category">See and modify</p>
          </div>
          <div class="card-content">
            <div class="row">
              <!-- <spinner *ngIf="!data" [tickness]="3" [size]="50" color='#ff0000'></spinner> -->

              <div class="col-md-4">
                <div class="tree" style="height: 400px;border: 1px solid;">
                  <tree-root [nodes]="nodes" [options]="options" (activate)="activateFolder($event)">
                  </tree-root>
                </div>
              </div>

              <div class="col-md-8">
                <table class="table for-datatables" style="height: 400px; border: 1px solid;">
                  <thead class="text-danger">
                    <tr>
                      <th>Product ID</th>
                      <th>Name</th>
                      <th>Image</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products">
                      <td>{{product.productId}}</td>
                      <td>{{product.name}} {{product.packSize}}</td>
                      <td>
                        <img class="product-image" src="{{product.image}}" alt="{{product.name}} {{product.packSize}}" style="height:85px">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>